In [1]:
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("covid_19_data.csv")
df.head()

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,01/22/2020,Anhui,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
1,2,01/22/2020,Beijing,Mainland China,1/22/2020 17:00,14.0,0.0,0.0
2,3,01/22/2020,Chongqing,Mainland China,1/22/2020 17:00,6.0,0.0,0.0
3,4,01/22/2020,Fujian,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
4,5,01/22/2020,Gansu,Mainland China,1/22/2020 17:00,0.0,0.0,0.0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 306429 entries, 0 to 306428
Data columns (total 8 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   SNo              306429 non-null  int64
 1   ObservationDate  306429 non-null  object
 2   Province/State   228329 non-null  object
 3   Country/Region   306429 non-null  object
 4   Last Update      306429 non-null  object
 5   Confirmed        306429 non-null  float64
 6   Deaths           306429 non-null  float64
 7   Recovered        306429 non-null  float64
dtypes: float64(3), int64(1), object(4)
memory usage: 18.7+ MB

In [7]:
dff = df.copy()
dff['Province/State'].fillna('Unknown',inplace=True)
dff.head()

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,01/22/2020,Anhui,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
1,2,01/22/2020,Beijing,Mainland China,1/22/2020 17:00,14.0,0.0,0.0
2,3,01/22/2020,Chongqing,Mainland China,1/22/2020 17:00,6.0,0.0,0.0
3,4,01/22/2020,Fujian,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
4,5,01/22/2020,Gansu,Mainland China,1/22/2020 17:00,0.0,0.0,0.0

In [10]:
dff['Country/Region'].replace({"Mainland China":'China'},inplace=True)

In [11]:
dff.head()

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,01/22/2020,Anhui,China,1/22/2020 17:00,1.0,0.0,0.0
1,2,01/22/2020,Beijing,China,1/22/2020 17:00,14.0,0.0,0.0
2,3,01/22/2020,Chongqing,China,1/22/2020 17:00,6.0,0.0,0.0
3,4,01/22/2020,Fujian,China,1/22/2020 17:00,1.0,0.0,0.0
4,5,01/22/2020,Gansu,China,1/22/2020 17:00,0.0,0.0,0.0

In [12]:
dff['ObservationDate'] = pd.to_datetime(dff['ObservationDate'])
dff.head()

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,2020-01-22,Anhui,China,1/22/2020 17:00,1.0,0.0,0.0
1,2,2020-01-22,Beijing,China,1/22/2020 17:00,14.0,0.0,0.0
2,3,2020-01-22,Chongqing,China,1/22/2020 17:00,6.0,0.0,0.0
3,4,2020-01-22,Fujian,China,1/22/2020 17:00,1.0,0.0,0.0
4,5,2020-01-22,Gansu,China,1/22/2020 17:00,0.0,0.0,0.0

In [15]:
dff['year'] = dff['ObservationDate'].dt.year
dff['month'] = dff['ObservationDate'].dt.month
dff.head()

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,year,month
0,1,2020-01-22,Anhui,China,1/22/2020 17:00,1.0,0.0,0.0,2020,1
1,2,2020-01-22,Beijing,China,1/22/2020 17:00,14.0,0.0,0.0,2020,1
2,3,2020-01-22,Chongqing,China,1/22/2020 17:00,6.0,0.0,0.0,2020,1
3,4,2020-01-22,Fujian,China,1/22/2020 17:00,1.0,0.0,0.0,2020,1
4,5,2020-01-22,Gansu,China,1/22/2020 17:00,0.0,0.0,0.0,2020,1

In [ ]:
dff.drop('SNo',axis=1,inplace=True)

In [71]:
dff.rename(columns={'ObservationDate':'date','Province/State':'state','Country/Region':'country'},inplace=True)

In [72]:
dff.head()

,date,state,country,Last Update,Confirmed,Deaths,Recovered,year,month
0,2020-01-22,Anhui,China,1/22/2020 17:00,1.0,0.0,0.0,2020,1
1,2020-01-22,Beijing,China,1/22/2020 17:00,14.0,0.0,0.0,2020,1
2,2020-01-22,Chongqing,China,1/22/2020 17:00,6.0,0.0,0.0,2020,1
3,2020-01-22,Fujian,China,1/22/2020 17:00,1.0,0.0,0.0,2020,1
4,2020-01-22,Gansu,China,1/22/2020 17:00,0.0,0.0,0.0,2020,1

Country/Region
 Azerbaijan                          0.0
('St. Martin',)                      0.0
Afghanistan                       2899.0
Albania                           2449.0
Algeria                           3460.0
                                   ...
West Bank and Gaza                3492.0
Yemen                             1319.0
Zambia                            1276.0
Zimbabwe                          1594.0
occupied Palestinian territory       0.0
Name: Deaths, Length: 228, dtype: float64